<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Administracion</title>


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <style type="text/css">

        div.solid {
            border-style: ridge;
            height: max-content;
        }


    </style>

</head>

<body class="center">


<div class="container">
    <br>

    <div class="solid">


        <div class="container" align="center">
            <h1>BIENVENIDO</h1>
            <p>Administrador</p>

            <div align="right">
                <img style="height: 50px; width:50px; position: relative; top: -80px"
                     src="https://tse3.mm.bing.net/th?id=OIP.bbXsNwMXrGKMvEjwoz6j2QHaHa&pid=Api">
            </div>

        </div>

        <center>
            <div class="row">


                <div class="col-sm">
                    <a type='button' href="" value='Boton' style='width:200px; height:200px; color: black'><br><br><br>HACIENDAS</a>

                </div>

                <div class="col-sm">
                    <a type='button' href="" value='Boton' style='width:200px; height:200px; color: black'><br><br><br>USUARIOS</a>
                </div>

                <div class="col-sm">
                    <a type='button' href="" value='Boton' style='width:200px; height:200px; color: black'><br><br><br>ASIGNAR
                        PARCELAS</a>
                </div>

                <div class="col-sm">
                    <a type='button' href="" value='Boton' style='width:200px; height:200px; color: black'><br><br><br>PARCELA</a>

                </div>


            </div>

            <br>


            <a href="/Usuario/login" style="position: center" class="btn btn-primary">Cambiar De Usuario</a>

        </center>

    </div>
</div>


</body>
</html>


